.subscribe {

    @include tablet() {
        padding: 0 40px;
    }

    @include mobile() {
        padding: 0 15px;
    }

    &__wrapper {
        width: 100%;
        padding: 30px 36px 68px;
        background-image: url('../../assets/driver-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include tablet() {
            padding: 56px 25px 60px;
        }

        @include mobile() {
            padding: 33px 12px 34px;
        }

        h2 {
            max-width: 700px;
            margin-bottom: 98px;
            @include heading(45px, #fff);

            @include tablet() {
                font-size: 35px;
            }

            @include mobile() {
                max-width: 292px;
                font-size: 20px;
            }
        }

        form {
            max-width: 950px;
            position: relative;

            @include tablet() {
                max-width: 639px;
            }

            @include mobile() {
                max-width: 250px;
            }

            label {
                display: block;
                @include pStyle(30px, #fff);
                margin-bottom: 12px;

                @include tablet() {
                    font-size: 20px;
                }
                @include mobile() {
                    font-size: 10px;
                }
            }

            .form-input {
                border-radius: 10px;
                background: #E5E5E5;

                display: flex;
                align-items: center;
                padding-right: 6px;

                #inputEmail {
                    width: 100%;
                    height: 93px;
                    padding: 29px 0 27px 29px;
                    border: none;
                    border-radius: 10px;
                    background-color: transparent;
                    @include pStyle(30px, rgba(0, 0, 0, 0.35));

                    @include tablet() {
                        height: 56px;
                        font-size: 20px;
                    }
                    @include mobile() {
                        height: 27px;
                        font-size: 10px;
                        padding: 8px 14px;
                    }

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        @include pStyle(30px, rgba(0, 0, 0, 0.35));

                        @include tablet() {
                            font-size: 20px;
                        }
                        @include mobile() {
                            font-size: 10px;
                        }
                    }
                }

                button {
                    width: 170px;
                    height: 87px;
                    border-radius: 10px;
                    background: #21408E;
                    border: none;
                    @include pStyle(30px, #fff);

                    @include tablet() {
                        width: 105px;
                        height: 42px;
                        font-size: 20px;
                    }

                    @include mobile() {
                        width: 55px;
                        height: 21px;
                        font-size: 10px;
                    }
                }
            }
        }
    }

    
}


.news__letter {
    margin-top: 166px;
    padding: 40px 0;
    background: #F1BC00;

    @include mobile() {
        margin-top: 90px;
        padding: 34px 0 39px;
    }

    .news__letter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            @include heading(35px);
            margin-bottom: 22px;

            @include mobile() {
                font-size: 15px;
                margin-bottom: 20px;
            }
        }

        form {
            width: 631px;

            @include mobile() {
                max-width: 344px;
            }

            .form-input2 {
                border-radius: 10px;
                background: #E5E5E5;

                display: flex;
                align-items: center;
                padding-right: 3px;

                #inputEmail2 {
                    width: 100%;
                    height: 61px;
                    padding: 29px 0 27px 29px;
                    border: none;
                    border-radius: 10px;
                    background-color: transparent;
                    @include pStyle(30px, rgba(0, 0, 0, 0.35));

                    @include mobile() {
                        height: 31px;
                        padding: 12px 0 12px 15px;
                        font-size: 10px;
                    }

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        @include pStyle(30px, rgba(0, 0, 0, 0.35));

                        @include mobile() {
                            font-size: 10px;
                        }
                    }
                }

                button {
                    min-width: 112px;
                    height: 57px;
                    border-radius: 10px;
                    background: #21408E;
                    border: none;
                    @include pStyle(30px, #fff);

                    @include mobile() {
                        width: 56px;
                        height: 23px;

                        font-size: 10px;
                    }
                }
            }
        }
    }

}